<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>BOOKSAW</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="/images/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600;700&display=swap" rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="/lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="/css/style_admin.css" rel="stylesheet">
</head>

<body>
    <div class="container-xxl position-relative bg-light d-flex p-0">
        <%- include('./view_base') %>
            <!-- Content Start -->
            <div class="content">

                <!-- Sale & Revenue Start -->
                <div class="col-12">
                    <div class="bg-light d-flex align-items-center justify-content-between p-2">
                        <div class="ms-3">
                            <a href="#" class="sidebar-toggler flex-shrink-0 fa-2x">
                                <i class="fa fa-bars"></i>
                            </a>
                            <span class="p-2">Dashboard</span>
                        </div>
                    </div>
                </div>

                <!-- Sale & Revenue End -->

                <div class="container-fluid pt-4 mt-4 mb-1">

                    <div class="row justify-content-between px-3">
                            <div class="col-lg-4 row mb-4">
                                <div class="bg-white shadow rounded p-2 d-flex justify-content-between p-4">
                                    <i class="fa fa-th me-2 fa-3x text-success"></i>
                                    <div class="m-auto">
                                        <h6 class="m-auto pb-2 fs-5">Category</h6>
                                        <h6 class="mb-0 "><%= numCategory %></h6>
                                    </div>
                                </div>

                            </div>
                            <div class="col-lg-4 row mb-4">
                                <div class="bg-white shadow rounded p-2 d-flex justify-content-between p-4">
                                    <i class="fa-solid fa-book fa-3x text-danger"></i>
                                    <div class="m-auto">
                                        <h6 class="m-auto pb-2 fs-5">Books</h6>
                                        <h6 class="mb-0 "><%= numBook %></h6>
                                    </div>
                                </div>

                            </div>
                            <div class="col-lg-4 row mb-4">
                                <div class="bg-white shadow rounded p-2 d-flex justify-content-between p-4">
                                    <i class="fa-solid fa-user fa-3x text-warning"></i>
                                    <div class="m-auto">
                                        <h6 class="m-auto pb-2 fs-5">Authors</h6>
                                        <h6 class="mb-0 "><%= numAuthor %></h6>
                                    </div>
                                </div>

                            </div>
                    </div>
                </div>

                

                <!-- Sales Chart Start -->
                <div class="container-fluid mb-5">
                    <div class="row">
                        <div class="col-8">
                            <div class="bg-light text-center rounded p-4 h-100 chart-container">
                                <h6 class="mb-4">Number Books By Quarter</h6>
                                <canvas id="worldwide-sales" class="chart-canvas"></canvas>
                            </div>
                        </div>

                        <div class="col-4">
                            <div class="bg-light rounded p-4 chart-container">
                                <h6 class="mb-4">Number Books By Category</h6>
                                <canvas id="doughnut-chart" class="chart-canvas"></canvas>
                            </div>
                        </div>

                    </div>
                </div>
                <!-- Sales Chart End -->
                <!-- Footer Start -->
                <div class="container-fluid pt-2 px-4">
                    <div class="bg-light rounded-top p-4">
                        <div class="row">
                            <div class="col-12 col-sm-6 text-center text-sm-start">
                                &copy; <a href="#">Website Quản lý truyện.</a>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- Footer End -->
            </div>
            <!-- Content End -->


            <!-- Back to Top -->
            <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
    </div>

    <script>

        const dataBookQuarterly = <%- JSON.stringify(dataBookQuarterly) %>;
        const labels = dataBookQuarterly.map(item => item._id);
        const data = dataBookQuarterly.map(item => item.totalBooks);

        var ctx1 = $("#worldwide-sales").get(0).getContext("2d");
        var myChart1 = new Chart(ctx1, {
            type: "bar",
            data: {
                labels: labels, 
                datasets: [{
                    label: "Total Books", 
                    data: data, 
                    backgroundColor: "rgba(0, 156, 255, .7)"
                }]
            },
            options: {
                responsive: true
            }
        });

        const dataCategoryYear = <%- JSON.stringify(dataCategoryYear) %>;
        const categoryLabels = dataCategoryYear.map(item => item.categoryName);
        const categoryData = dataCategoryYear.map(item => item.totalBooks); 

        function getRandomColor() {
            return `rgba(${Math.floor(Math.random() * 255)}, 
                        ${Math.floor(Math.random() * 255)}, 
                        ${Math.floor(Math.random() * 255)}, 0.7)`;
        }

        const backgroundColors = Array(categoryLabels.length)
            .fill()
            .map(() => getRandomColor());

        // Tạo biểu đồ Doughnut
        var ctx6 = $("#doughnut-chart").get(0).getContext("2d");
        var myChart6 = new Chart(ctx6, {
            type: "doughnut",
            data: {
                labels: categoryLabels,
                datasets: [{
                    backgroundColor: backgroundColors,
                    data: categoryData
                }]
            },
            options: {
                responsive: true
            }
        });
    </script>
    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/lib/chart/chart.min.js"></script>
    <script src="/lib/easing/easing.min.js"></script>
    <script src="/lib/waypoints/waypoints.min.js"></script>
    <script src="/lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="/lib/tempusdominus/js/moment.min.js"></script>
    <script src="/lib/tempusdominus/js/moment-timezone.min.js"></script>
    <script src="/lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <!-- Template Javascript -->
    <script src="/js/main.js"></script>
</body>

</html>
